body {
    font-family: 'Roboto';
}

header, main, footer {
    max-width: 640px;
    margin: 1rem auto;
    border: 1px solid slategray;
    padding: 20px;
    background-color: #00b4d8;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

main section {
    padding: 20px;
    background-color: aliceblue;
}